.playlist-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.playlist-search-button {
    margin-top: 36px;
    z-index: 2;
}

.playlist-menu-wrapper {
    position: relative;
    right: 0;
    top: 0;
    margin: 22px;
    height: 68px;

    width: 350px;
    min-height: 68px;
    max-height: calc(100vh - 44px);
    border-radius: 14px;

    background-color: transparent;
    color: #dfdfdf;
    overflow: hidden;

    transition: color 1s ease-out;
}

.playlist-menu-background {
    inset: 0;
    background-color: transparent;
    backdrop-filter: invert(1);
    position: absolute;
}

.playlist-menu-content {
    top: 0;
    isolation: isolate;
    background-color: #303030d2;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    height: 100%;

    transition: background-color 1s ease-out;
}

.menu-arrow {
    top: 20px;
    position: absolute;
    left: 18px;
    width: 30px;
    aspect-ratio: 1/1;
    padding: 6px;
    cursor: none;
    transition: scale 0.2s ease-out;
}

.menu-arrow:hover {
    scale: 1.5;
}

.menu-arrow #arrow-down {
    fill: #dfdfdf;
    transition: fill 1s ease-out;
}

.menu-arrow path {
    /* fill: aqua; */
    backdrop-filter: invert(1);
    /* box-shadow: 10px 5px 5px red; */
}

/* Current playlist */

.current-playlist {
    position: relative;
    width: 100%;
    height: 68px;
    border-radius: 12px;
    z-index: 20;
}

.current-playlist-image {
    position: absolute;
    height: 68px;
    aspect-ratio: 1/1;
    /* background-color: red; */
    top: 0;
    right: 0;
}

.current-playlist-details {
    /* margin: 16px; */
    position: absolute;
    mix-blend-mode: difference;
    top: 12px;
    left: 60px;
}

.current-playlist-details > span {
    display: block;
    font-weight: 200;
    font-size: 0.8rem;
    line-height: 1rem;
}
.current-playlist-details > span:first-child {
    font-weight: 400;
    font-size: 1.1rem;
    font-family: "Prompt";
    line-height: 1.4rem;
}

.current-playlist,
.list-separator {
    flex-shrink: 0;
}

/* song list */

.list-wrapper {
    font-size: 1rem;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 16px;
}

.list {
    height: 100%;
    overflow-y: auto;
    touch-action: pan-y;
    padding: 0 0 40px 0;
}

.list-separator {
    width: 200%;
    margin-top: 20px;
}

.list-separator path {
    stroke: #dfdfdf;
    transition: stroke 1s ease-out;
}

.playlist-song {
    height: 60px;
    border-radius: 8px;
    margin: 2px 16px 2px 16px;
    overflow: hidden;
    display: flex;
    align-items: center;

    color: #dfdfdf;
    background-color: transparent;
    transition:
        background-color 0.6s,
        color 0.6s;
}

.playlist-song:hover {
    color: #303030;
    background-color: #dfdfdf;
    transition-duration: 0.2s;
}

/* menu inverted */
.playlist-song.inverted {
    color: #303030;
}

.playlist-song.inverted:hover {
    color: #dfdfdf;
    background-color: #303030;
}

.playlist-song-image {
    margin-left: 6px;
    height: 80%;
    border-radius: 4px;
}

.playlist-song-details {
    margin-left: 10px;
}

.playlist-song-details > span {
    display: block;
    white-space: nowrap;
    font-size: 0.7rem;
}

.playlist-song-details > span:first-child {
    font-size: 0.8rem;
    font-weight: 600;
}

.playlist-menu-wrapper.inverted {
    color: #303030;
}
.inverted .playlist-menu-content {
    background-color: #dfdfdf;
}
.inverted .menu-arrow #arrow-down {
    fill: #303030;
}
.inverted .list-separator path {
    stroke: #303030;
}
