<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="general.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="page-wrapper">
        <h2 class="black-text about-title">ABOUT US</h2>
        <div class="about-content-wrapper">
            <div class="about-content">
                Id omnis odio At velit illum et dolores pariatur rem culpa dolore et expedita quia aut magni magni! Eum
                necessitatibus laborum et delectus magni vel aliquid voluptatibus qui possimus omnis eos quia molestias.
                Aut soluta libero sit exercitationem enim sit dicta blanditiis ut quasi praesentium rem ipsam doloremque
                est perspiciatis perspiciatis.

                Ab corrupti omnis et mollitia totam At sint galisum? Est animi distinctio et rerum quia sit illum soluta
                et impedit nostrum est quia dolorem vel enim consequatur.
            </div>
            <div class="about-content right black-text">
                <div class="contact-text">Contacts us</div>
                <div class="contact-label">PHONE</div>
                <div class="contact-text">+351 912 345 678</div>
                <div class="contact-label">EMAIL</div>
                <div class="contact-text">main@mail.com</div>
                <div class="contact-label">SOCIALS</div>
                <div class="about-social-icons-wrapper">
                    <img src="assets/insta.png" alt="instaimg" />
                    <img src="assets/spotify.png" alt="spotifyimg" />
                    <img src="assets/fb.png" alt="fbimg" />
                </div>
            </div>
        </div>
    </div>

</body>

</html>