.about-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 10vw;
    /* height: 95vh; */
    overflow-y: hidden;
}

.about-us {
    width: 42vw;
    height: fit-content;
}

p {
    margin-top: 20px;
}

.about-title {
    color: #303030;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 70px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about-social-icons-wrapper {
    display: flex;
}

.about-social-icons-wrapper img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.contact-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-top: 8px;
}

.contact-text {
    color: #303030;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer{position: absolute;}

@media only screen and (max-width: 700px) {
    .no-scroll {
        height: fit-content !important;
        overflow: auto;
    }
    .contact-title {
        font-size: 5rem;
    }
    .align-bottom {
        position: relative;
    }
    .about-wrapper {
        flex-direction: column;
    }

    .about-us {
        font-size: 4rem;
        width: 100%;
        height: fit-content;
    }

    .about-title {
        font-size: 8rem;
        margin-bottom: 5vh;
    }

    .contacts {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 40vh;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1024px) {
    .contact-title {
        font-size: 2rem;
    }
    .about-us {
        font-size: 1.5rem;
        width: 100%;
        height: fit-content;
        padding-right: 8vw;
    }

    .about-title {
        font-size: 8rem;
    }
}
