.overlay-background,
.overlay-backdrop,
.overlay-container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-out, visibility 0s linear 1s;
}

.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-out, visibility 0s;
}

.overlay-background {
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    pointer-events: none;
}

.overlay-backdrop {
    background-color: rgba(48, 48, 48, 0.775);
    backdrop-filter: blur(2px);
    pointer-events: none;
}

.overlay-container {
    color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    animation: overlay-content-in 0.4s ease-out;
}

@keyframes overlay-content-in {
    from {
        opacity: 0;
    }
}

.interaction-prompt-text {
    margin-bottom: 30px;
}
.interaction-prompt-text > p {
    margin-top: 0;
}

/* Search Overlay */
.search-input {
    position: relative;

    color: #303030;
    font-family: "Prompt", sans-serif;
    font-size: 0.7rem;

    outline: none;
    display: flex;
    align-items: center;
}

.search-overlay-title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #dfdfdf;
}
.search-input > input {
    width: 30vw;
    height: 36px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #dfdfdf;
    color: #303030;
    font-family: "Prompt", sans-serif;
    font-size: 0.7rem;
    outline: none;
    padding: 1px 14px 0px 14px;
}
.search-result {
    top: 4px;
    position: relative;
    /* height: 200px; */
    width: 200px;
    border-radius: 10px;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: #303030;
    margin-bottom: 20px;
}

.search-result img {
    width: 100%;
    aspect-ratio: 1/1;
    right: 100%;
    border-radius: 10px 10px 0 0;
}

.result-details {
    width: 100%;
    padding: 10px 15px 14px 15px;
    display: flex;
    flex-direction: column;
}

.result-details > span {
    text-wrap: nowrap;
}

.result-details-name {
    font-weight: 400;
    font-size: 1.1rem;
    font-family: "Prompt";
    line-height: 1.3rem;
}

.result-details-owner {
    font-weight: 200;
    font-size: 0.7rem;
    line-height: 0.8rem;
}

.result-details-total {
    font-weight: 600;
    font-size: 0.7rem;
    position: absolute;
    top: 102%;
    line-height: 0.8rem;
    color: #dfdfdf;
}

.search-button {
    width: 40px;
    aspect-ratio: 1/1;
    background-color: #dfdfdf;
    border-radius: 50%;
    margin-left: 10px;
}
