.overlay-background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    pointer-events: none;
}

.overlay-container {
    background-color: rgba(48, 48, 48, 0.775);
    color: #dfdfdf;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    backdrop-filter: blur(2px);
}

.interaction-prompt-text {
    margin-bottom: 30px;
}
.interaction-prompt-text > p {
    margin-top: 0;
}

.interaction-button {
    position: relative;
}

.interaction-button > button {
    border: 1px solid #dfdfdf;
    background-color: transparent;
    color: #dfdfdf;
    font-family: "Prompt", sans-serif;
    font-size: 0.8em;
    border-radius: 25px;
    cursor: none;
    width: 150px;
    overflow: hidden;
}

.loader-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    transform: translate(140%, 13%);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 100%;
    aspect-ratio: 1;
    --_c: no-repeat linear-gradient(rgb(255, 255, 255) 0 0) 50%;
    background: var(--_c) / 100% 50%, var(--_c) / 50% 100%;
    border-radius: 50%;
    animation: l29 2s infinite linear;
}
@keyframes l29 {
    100% {
        transform: rotate(1turn);
    }
}

/* Search Overlay */
.search-input {
    position: relative;
    
    
    color: #303030;
    font-family: "Prompt", sans-serif;
    font-size: 0.7rem;
    
    outline: none;
    display: flex;
    align-items: center;
}

.search-overlay-title {
    margin-bottom: 10px;
    font-size:1.8rem;
    font-weight: 600;
    color: #dfdfdf;
}
.search-input > input {
    width: 30vw;
    height: 36px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #dfdfdf;
    color: #303030;
    font-family: "Prompt", sans-serif;
    font-size: 0.7rem;
    outline: none;
    padding: 1px 14px 0px 14px;
}
.search-result {
    top: 0px;
    position: relative;
    /* height: 200px; */
    width: 200px;
    border-radius: 10px;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    color: #303030;
    margin-bottom: 20px;
}

.search-result img {
    width: 100%;
    aspect-ratio: 1/1;
    right: 100%;
    border-radius: 10px 10px 0 0;
}

.result-details {
    width: 100%;
    padding: 10px 15px 10px ;
    display: flex;
    flex-direction: column;
}

.result-details > span {
    text-wrap: nowrap;
}

.result-details-name {
    font-weight: 400;
    font-size: 1.1rem;
    font-family: "Prompt";
    line-height: 1.3rem;
}

.result-details-owner {
    font-weight: 200;
    font-size: 0.7rem;
    line-height: 0.8rem;
}

.result-details-total {
    font-weight: 600;
    font-size: 0.7rem;
    position: absolute;
    top: 102%;
    line-height: 0.8rem;
    color: #dfdfdf;
}


.search-button{
    width: 40px;
    aspect-ratio: 1/1;
    background-color: #dfdfdf;
    border-radius: 50%;
    margin-left: 10px;
}
