.song-details-container {
    top: 0;
    background-color: white;
    position: absolute;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

.song-details-info-container {
    display:flex;
}

.song-details-info {
    display:flex;
}

.song-details-extra-info-container {
    display:flex;
}