.archive-wrapper{
    padding-bottom: 50px;
}

#search-bar {
    box-sizing: border-box;
    margin: 2vh 5vw 1vh 5vw;
    width: 90vw;
    height: 4vh;
    display: block;
    border: 0;
    border-bottom: 1px solid #303030;
    padding: 0.5vw;
    padding-bottom: 6px;
    font-size: 1.3rem;
    font-family: "Mulish";
    font-weight: 100;
}

#search-bar:focus-visible {
    outline: none;
}

.filters-button {
    margin-left: 5vw;
    border: 1px solid #303030;
    width: fit-content;
    padding: 6px 6px;
    line-height: 12px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    z-index: -2;
    user-select: none;
}

.outside-filters {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    height: 100vh;
    width: 100vw;
}

.filters-indicator {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #303030;
    display: flex;
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

.filters-indicator-fill {
    border-radius: 50%;
    background-color: #303030;
    width: 6px;
    height: 6px;
}

.filters-container {
    z-index: 1;
    position: absolute;
    left: 5vw;
    display: flex;
    flex-direction: row;
    transform: translateY(-1px);
}

.filter-tab {
    background-color: white;
    display: inline-block;
    height: 200px;
    width: 15vw;
    border: 1px solid #303030;
    padding: 1.5% 1% 2% 2%;
    overflow-y: hidden;
}
.filter-tab:nth-child(2) {
    transform: translateX(-1px);
}

.filter-tab:nth-child(3) {
    transform: translateX(-2px);
}

.filter-category {
    font-weight: 800;
    line-height: 100%;
    font-size: 1rem;
    height: 10%;
}

.filter-list {
    box-sizing: border-box;
    /* border: 1px solid black; */
    height: 88%;
    overflow-y: scroll;
    margin-top: 2%;
}

.checkbox-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 6px;
    cursor: pointer;
}

.checkbox-filter:hover {
    text-decoration: dotted;
}

.checkbox-filter > .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    right: 0;
    border: 1px solid #303030;
}
.checkbox-fill {
    display: inline-block;
    background-color: #303030;
    width: 10px;
    height: 10px;
}

.underline{
    text-decoration: underline;
}

.filters-apply {
    color: white;
    position: absolute;
    width: 190px;
    right: 2px;
    top: 100%;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #303030;
    user-select: none;
    transform: translateY(-1px);
}

.filter-tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters-apply.disabled {
    cursor: default;
    background-color: lightgrey !important;
}

.filters-apply:hover {
    background-color: grey;
}

.filter-clear {
    color: palevioletred;
    margin: 0 5px 5px 0;
    padding: 0 3px 0px 3px;
    font-size: 0.8rem;
}

.filter-clear:hover {
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}
.filter-clear:active {
    color: white;
    background-color: palevioletred;
}

table {
    box-sizing: border-box;
    width: 100%;
    font-family: "Hind Madurai";
    border-spacing: 0 12px;
    font-size: 1rem;
    line-height: 1.1rem;
    margin-top: 2vh;
}
tr {
    cursor: pointer;
    padding: 20px 0;
}

tr:first-child {
    cursor: default;
}

tr:hover {
    background-color: rgb(242, 242, 242);
}

tr:first-child:hover {
    background-color: white;
}

th {
    text-align: start;
    font-family: "Mulish";
    font-weight: normal;
    padding-bottom: 15px;
    width: 18vw;
    border-bottom: 1px solid #303030;
}

th > span {
    cursor: pointer;
    position: relative;
    user-select: none;
}

td {
    height: 7vh;
}

th:last-child,
td:last-child {
    text-align: end;
    padding-right: 5vw;
    width: 10%;
}

th:first-child,
td:first-child {
    padding-left: 5vw;
    width: fit-content;
    padding-right: 10px;
    min-width: 7vh;
}

th:nth-child(2) {
    width: 25vw;
}

.archive-image {
    height: 95%;
    vertical-align: middle;
}

.song-title {
    font-weight: bold;
}

.sortTriangle {
    height: 50%;
    position: absolute;
    transform: translate(5px, 0.25rem);
}

.invert {
    transform: translate(5px, 0.2rem) rotate(180deg);
}

.bold {
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    #search-bar {
        font-size: 4rem;
    }

    .filters-button {
        font-size: 3rem;
    }

    .filter-category {
        font-size: 4rem;
    }

    .filter-clear {

        font-size: 3rem;
    }

    .checkbox-filter {
        font-size: 3.5rem;
    }

    table {

        font-size: 3.5rem;
        line-height: 120%;
    }

    .hide-in-mobile {
        display: none;
    }
    td,
    th {
        width: fit-content;
    }

    td:first-child,
    th:first-child {
        width: 5vw;
    }

    td:nth-child(5),
    th:nth-child(5) {
        text-align: end;
        padding-right: 5vw;
        width: 10%;
    }
    td:nth-child(2),
    th:nth-child(2) {
        width: 35vw;
        padding-right: 5vw;
    }

    .filters-container {
        left: 5vw;
        display: flex;
        flex-direction: column;
        transform: translateY(-1px);
        user-select: none;
    }

    .filter-tab {
        background-color: white;
        display: inline-block;
        height: 25vh;
        width: 250px;
        border: 1px solid #303030;
        padding: 3% 2% 6% 3%;
        overflow-y: hidden;
    }

    .filter-tab:nth-child(2) {
        transform: translateY(-1px);
    }

    .filter-tab:nth-child(3) {
        transform: translateY(-2px);
    }

    .filters-apply {
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        height: fit-content;
        transform: translateY(-3px);
    }
}

@media only screen and (min-width: 701px) and (max-width: 1024px) {
    #search-bar {
        font-size: 2rem;
    }

    .filters-button {
        font-size: 2.2rem;
    }

    .filter-category {
        font-size: 1.5rem;
    }

    .filter-tab{
        width: 25vw;
    }

    .filter-clear {

        font-size: 1.5rem;
    }

    .checkbox-filter {
        font-size: 2rem;
    }

    table {

        font-size: 1.8rem;
        line-height: 120%;
    }
}
