#search-bar {
    box-sizing: border-box;
    margin: 2vh 5vw 1vh 5vw;
    width: 90vw;
    height: 4vh;
    display: block;
    border: 0;
    border-bottom: 1px solid black;
    padding: 0.5vw;
    padding-bottom: 6px;
    font-size: 1.3rem;
    font-family: "Mulish";
    font-weight: 100;
}

#search-bar:focus-visible {
    outline: none;
}

.filters-button {
    margin-left: 5vw;
    border: 1px solid black;
    width: fit-content;
    padding: 6px 6px;
    line-height: 12px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    z-index: 200;
    user-select: none;
}

.outside-filters {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}

.filters-indicator {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

.filters-indicator-fill {
    border-radius: 50%;
    background-color: black;
    width: 8px;
    height: 8px;
}

.filters-container {
    z-index: 1;
    position: fixed;
    left: 5vw;
    display: flex;
    flex-direction: row;
    transform: translateY(-1px);
}

.filter-tab {
    background-color: white;
    display: inline-block;
    height: 200px;
    width: 190px;
    border: 1px solid black;
    padding: 1.5% 1% 2% 2%;
    overflow-y: hidden;
}
.filter-tab:nth-child(2) {
    transform: translateX(-1px);
}

.filter-tab:nth-child(3) {
    transform: translateX(-2px);
    height: 120 px;
}

.filter-category {
    font-weight: 800;
    line-height: 100%;
    font-size: 100%;
    height: 10%;
}

.filter-list {
    box-sizing: border-box;
    /* border: 1px solid black; */
    height: 88%;
    overflow-y: scroll;
    margin-top: 2%;
}

.checkbox-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 6px;
    cursor: pointer;
}
.checkbox-filter > .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    right: 0;
    border: 1px solid black;
}
.checkbox-fill {
    display: inline-block;
    background-color: black;
    width: 10px;
    height: 10px;
}

.filter-apply {
    box-sizing: border-box;
    position: absolute;
    width: 192px;
    right: 2px;
    bottom: 0;
    padding: 3%;
    /* transform: translateY(100%); */
    cursor: pointer;
    border: 1px solid black;
    border-top: 0;
    user-select: none;
}

.filter-apply.disabled {
    cursor: default;
    background-color: lightgrey !important; 
}



.filter-apply:hover {
    background-color: grey;
}

table {
    box-sizing: border-box;
    width: 100%;
    font-family: "Hind Madurai";
    border-spacing: 0 12px;
    font-size: 0.9rem;
    line-height: 1rem;
    margin-top: 2vh;
}
tr {
    cursor: pointer;
    padding: 20px 0;
}

tr:first-child {
    cursor: default;
}

tr:hover {
    background-color: rgb(242, 242, 242);
}

tr:first-child:hover {
    background-color: white;
}

th {
    text-align: start;
    font-family: "Mulish";
    font-weight: normal;
    padding-bottom: 15px;
    width: 18vw;
    border-bottom: 1px solid black;
    
}

th > span {
    cursor: pointer;
    position: relative;
    user-select: none;
}

td {
    height: 7vh;
}

th:last-child,
td:last-child {
    text-align: end;
    padding-right: 5vw;
    width: 10%;
}

th:first-child,
td:first-child {
    padding-left: 5vw;
    width: fit-content;
    padding-right: 10px;
    min-width: 7vh;
}

th:nth-child(2) {
    width: 30%;
}

.archive-image {
    height: 95%;
    vertical-align: middle;
}

.song-title {
    font-weight: bold;
}

.sortTriangle {
    height: 50%;
    position: absolute;
    transform: translate(5px,0.25rem);
}

.invert {
    transform: translate(5px,0.2rem) rotate(180deg) ;
}

.bold {
    font-weight: bold;
}