<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="general.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="page-wrapper">
        <h2 class="black-text suggestion-title">Would you like to suggest a song?</h2>
        <input class="suggestion-input" placeholder="Title">
        <input class="suggestion-input" placeholder="Artist Name">
    </div>

</body>

</html>