@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
  }

body,
#root,
html {
    top: 0;
    left: 0;
    margin: 0;
    min-height: 95vh;
    width: 100%;
    font-family: "Mulish";
    color: #303030;
    font-size: 1vw;

}

.body {
    position: relative;
    top: 5vh;
    min-height: 95vh;
    width: 100%;
    overflow: hidden;
    /* z-index: -2; */
}

.no-scroll{
    height: 95vh;
    overflow: hidden;
}

/* COLORS */

.black-bg {
    background-color: #303030;
}

.white-bg {
    background-color: #fffcf9;
}

.black-text {
    color: #303030;
}

.white-text {
    color: #fffcf9;
}



/* HEADER */

header {
    top: 0;
    width: 100vw;
    left: 0;
    height: 5vh;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    position: fixed;
}

.logo {
    margin-left: 5vw;
    font-family: "Mulish", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 3vh;
    z-index: 10;
}

header nav {
    right: 0;
    margin-right: 5vw;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

header a {
    text-decoration: none;
    color: white;
    margin-left: 4vw;
}

.hidden {
    display: none;
}

.center {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    align-items: center;
    width: 25vw;
}

.no-results>span:last-child {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    transform: rotate(90deg);
    font-size: 4rem;
}

.loading>span, .no-results>span {
    font-family: 'Prompt', sans-serif;
    font-size: 2rem;
    font-weight: 100;
}

.loading>img{
    margin-top: 20px;
    width: 30px;
}

.burger {
    display: none;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 700px) {

    .burger {
        display: block;
        right: 0;
        height: 25px;
        margin-right: 5vw;
    }

    nav {
        height: 280px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        left:  0;
        flex-direction: column;
        background-color: #303030;
        width: 100vw;
        padding: 0 5vw 0 0;
        z-index: -1;
        top: 5vh;
        transition: top 0.5s ease;
    }

    nav>a {
        
        height: 100%;
        margin-left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        border-top: 1px solid white;
        font-size: 2.5rem;
        width: 100vw;
        padding:0 5vw;
        
    }

    .navClosed {
        top:-280px
    }

    .no-results>span:last-child {
        font-size: 12rem;
        
        width: fit-content;
    }
    
    .loading>span, .no-results>span {
        font-size: 8rem;
        width: 80vw;
        
    }

}

@media only screen and (min-width: 701px) and (max-width: 1024px) {
    nav>a{
        font-size: 1.5rem;
    }

    .no-results>span:last-child {
        font-size: 8rem;
    }
    
    .loading>span, .no-results>span {
        font-size: 3rem;
        width: 60vw;
        width: fit-content;
        
    }

}
