.circle-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #303030d0;
    color: #dfdfdf;
    display: flex;
    justify-content: center;
    cursor: none;
    align-items: center;
    transition: transform 0.2s ease-out;
    backdrop-filter: invert(1);
}

.circle-button:hover {
    transform: scale(1.2);
}

.circle-button:active {
    transform: scale(0.9);
}

.circle-button.inverted {
    background-color: #dfdfdfd0;
    color: #303030;
}

.pill-button {
    position: relative;
}

.pill-button > button {
    border: 1px solid transparent;
    background-color: #dfdfdf;
    color: #303030;
    font-family: "Prompt", sans-serif;
    font-size: 0.8em;
    border-radius: 25px;
    cursor: none;
    width: 150px;
    overflow: hidden;
    transition: all 0.3s, color 0.3s;
}

.pill-button > button:hover {
    scale: 1.1;
}

.pill-button > button:active {
    scale: 0.9;
}

.pill-button > button.pill-disabled {
    border-color: #dfdfdf;
    background-color: transparent;
    color: #dfdfdf;
    padding: 1px 0px 0px 0px;
    pointer-events: none;
}

.loader-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    transform: translate(140%, 13%);
    transition: opacity 0.2s;
}

.loader-container.is-hidden {
    opacity: 0;
    transition: opacity 1s 0.1s;
}

.loader {
    width: 100%;
    aspect-ratio: 1;
    --_c: no-repeat linear-gradient(rgb(255, 255, 255) 0 0) 50%;
    background:
        var(--_c) / 100% 50%,
        var(--_c) / 50% 100%;
    border-radius: 50%;
    animation: loaderRotation 2s infinite linear;
}

@keyframes loaderRotation {
    100% {
        transform: rotate(1turn);
    }
}

/* Toggle */

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-label {
    font-size: 0.7em;
    font-weight: 800;
    margin-right: 15px;
}

.toggle-track {
    border: 3px solid #dfdfdf;
    border-radius: 20px;
    width: 32px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.toggle-thumb {
    position: absolute;
    height: 16px;
    aspect-ratio: 1;
    /* border-radius: 20px ; */
    transform: translateX(-20%);
    background-color: #dfdfdf;
}

.toggle-state {
    width: 24px;
    margin-left: 5px;
    font-size: 0.8em;
}

.volume-controller {
    background-color: #303030d0;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    left: 40px;
    z-index: 1;
    display: flex;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: invert(1);
}

.volume-controller.inverted {
    background-color: #dfdfdf;
}

.volume-track {
    box-sizing: border-box;
    position: absolute;
    background-color: #dfdfdf;
    width: 40%;
    border-radius: 25px;
    opacity: 0;
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.volume-thumb {
    position: absolute;
    width: 80%;
    aspect-ratio: 1/1;
    left: 50%;
    background-color: #dfdfdf;
    border-radius: 50%;
    mix-blend-mode: difference;
    transform: translateX(-50%);
}

.volume-state {
    position: absolute;
    bottom: 0;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#dfdfdf
}

.inverted .volume-track {
    background-color: #303030;
}

.inverted .volume-thumb {
    background-color: #ffffff;
}

.inverted .volume-state {
    color: #303030;
}

.count-down-circle {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) scale(1.1);
    pointer-events: none;
}